div(ng-controller='')
    .row
        div(class='small-8 columns')
            center
                h1 My Wallet
            br
            table(id='walletInfo')
                tr
                    td Seed
                    td: input(type="text", ng-model="seed", placeholder='Optional seed for key generation')
                tr
                    td Key
                    td {{ key || 'undefined'}}
                tr
                    td Wallet address
                    td {{ address || 'undefined'}}
                tr
                    td Nonce
                    td {{ account.nonce || 0}}
                tr
                    td Balance
                    td {{ account.balance || 0}}
                tr
                    td Storage
                    td
                        table
                            tr(ng-repeat="k in account.storage")
                                td k
                                td account.storage[k]
            div(class='small-4 columns')
                button.btn(ng-click="genseed()") Generate new account
            div(class='small-4 columns offset-1')
                button.btn(ng-click="alloc(address,1000000000000000000)") Gimme more money
        div(class='small-4 columns')
            center
                h1 Transact
            br
            table
                tr
                    td To
                    td: input(type="text",ng-model="sendto")
                tr
                    td Value
                    td: input(type="text",ng-model="sendvalue")
                tr
                    td Data (space-separated)
                    td: input(type="text",ng-model="senddata")
                tr
                    td
                    td: button.btn(ng-click="sendtx(key, account.nonce, sendvalue, sendto, senddata || '')") Send