doctype html
head
    // bower:css 
    // endbower
    link(rel="stylesheet",type="text/css",href="main.css")
body(ng-app="tryethereum")
    div(ng-view)
        p aaaaaaaaaaaaaaaaaaaaaaaa
    // bower:js
    // endbower
    script(src="lib/sha3.js")
    script(src="lib/bitcoinjs-min.js")
    script(src="lib/app.js")
    script(src="lib/config.js")